use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
config :books, BooksWeb.Endpoint,
  secret_key_base: "m2AkDm2tIUcSmX/7YzXQBRfrRsT0ii735oQws02iAvaGf2ND5zIWWwa//2Tkcvpw"

# Configure your database
config :books, Books.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "books_prod",
  pool_size: 15
